
/***********************************
              ROOT
***********************************/
@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Manrope:wght@200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=ADLaM+Display&family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Manrope:wght@200..800&display=swap');

:root {
    --blue-color: #424DC1; 
    --yellow-color: #F2B705; 
    --tertiary-color: #0b1366;
    --dark-gray: #444444; 
    --black: #000000; 
    --white: #FFFFFF;
    --font-family: "ADLaM Display", system-ui;
    --font-family2: "Inter", sans-serif;    
}

html{
  scroll-behavior: smooth;
}

*{
  max-width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.yellow {
  color: var(--yellow-color);
}
.blue {
  color: var(--blue-color);
}
/********************************** 
**********NAVBAR
*****************************/


header {
    position: absolute;
    position: fixed;
    z-index: 10;  
    font-family: var(--font-family);
    display: flex;               
    justify-content: space-between;
    align-items: center;         
    padding: 10px 20px;
    width: 90%;        
    background-color: var(--blue-color);
    margin-left: 5%;
    border-radius: 0px 0px 20px 20px;
}

.logo-offpt {
    max-height: 50px;
    margin-right: 0;           
}

.logo-solicode {
    max-height: 60px;
    margin-left: -12%;            
}

.icons-section ul {
    display: flex;               
    list-style: none;            
    margin: 0;
    padding: 0;
}

.icons-section li {
    margin: 0 15px;              
}

.icons-section li a:hover {
  color: var(--yellow-color);
}

.icons-section a {
    text-decoration: none;       
    color: var(--white);            
    font-weight: bold;         
}

#Subscription-btn {
  position: relative;
  width: 120px;
  height: 40px;
  background-color: var(--white);
  display: flex;
  align-items: center;
  color: var(--blue-color);
  flex-direction: column;
  justify-content: center;
  border: none;
  padding: 12px;
  gap: 12px;
  border-radius: 20px;
  cursor: pointer;   
  font-weight: 600;
}

#Subscription-btn::before {
  content: '';
  position: absolute;
  inset: 0;
  left: -4px;
  top: -1px;
  margin: auto;
  width: 128px;
  height: 48px;
  border-radius: 20px;
  background: linear-gradient(-45deg, #F2B705 20%, #424DC1 100% );
  z-index: -10;
  pointer-events: none;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

#Subscription-btn::after {
  content: "";
  z-index: -1;
  position: absolute;
  inset: 0;
  background: linear-gradient(-45deg, #F2B705 20%, #424DC1 100% );
  transform: translate3d(0, 0, 0) scale(0.95);
  filter: blur(20px);
}

#Subscription-btn:hover::after {
  filter: blur(30px);
}

#Subscription-btn:hover::before {
  transform: rotate(-180deg);
}

#Subscription-btn:active::before {
  scale: 0.7;
}

/* Scrolled state styles */
header.scrolled {
  background-color: var(--yellow-color);
}

header.scrolled .icons-section a {
  color: var(--white-color);
}

header.scrolled #Subscription-btn {
  background-color: var(--blue-color);
  color: var(--white);
}
header {
    position: absolute;
    position: fixed;
    z-index: 10;  
    font-family: var(--font-family);
    display: flex;               
    justify-content: space-between;
    align-items: center;         
    padding: 10px 20px;
    width: 90%;        
    background-color: var(--blue-color);
    margin-left: 5%;
    border-radius: 0px 0px 20px 20px;
}

.logo-offpt {
    max-height: 50px;
    margin-right: 0;           
}

.logo-solicode {
    max-height: 60px;
    margin-left: -12%;            
}

.icons-section ul {
    display: flex;               
    list-style: none;            
    margin: 0;
    padding: 0;
}

.icons-section li {
    margin: 0 15px;              
}

.icons-section li a:hover {
  color: var(--yellow-color);
}

.icons-section a {
    text-decoration: none;       
    color: var(--white);            
    font-weight: bold;         
}

#Subscription-btn {
  position: relative;
  width: 120px;
  height: 40px;
  background-color: var(--white);
  display: flex;
  align-items: center;
  color: var(--blue-color);
  flex-direction: column;
  justify-content: center;
  border: none;
  padding: 12px;
  gap: 12px;
  border-radius: 20px;
  cursor: pointer;   
  font-weight: 600;
}

#Subscription-btn::before {
  content: '';
  position: absolute;
  inset: 0;
  left: -4px;
  top: -1px;
  margin: auto;
  width: 128px;
  height: 48px;
  border-radius: 20px;
  background: linear-gradient(-45deg, #F2B705 20%, #424DC1 100% );
  z-index: -10;
  pointer-events: none;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

#Subscription-btn::after {
  content: "";
  z-index: -1;
  position: absolute;
  inset: 0;
  background: linear-gradient(-45deg, #F2B705 20%, #424DC1 100% );
  transform: translate3d(0, 0, 0) scale(0.95);
  filter: blur(20px);
}

#Subscription-btn:hover::after {
  filter: blur(30px);
}

#Subscription-btn:hover::before {
  transform: rotate(-180deg);
}

#Subscription-btn:active::before {
  scale: 0.7;
}

/* Scrolled state styles */
header.scrolled {
  background-color: var(--yellow-color);
}

header.scrolled .icons-section a {
  color: var(--white-color);
}

header.scrolled #Subscription-btn {
  background-color: var(--blue-color);
  color: var(--white);
}

header.scrolled .logo-solicode {
  width: 99px;
  height: 100px;
  margin-left: -12%;
  padding: 0; 
}
/*************************************** 
**************HERO SECTION
****************************************/
.hero {
    position: relative;
    height: 610px; 
    background: url('imgs/heropic.jpeg') no-repeat center center/cover; 
    display: flex;
    flex-direction: column; 
    align-items: left; 
    text-align: left;
    color: var(--white);
    height: 800px;
}

.wave-line {   
    background-image: url('imgs/9a4844b1-803c-4daf-883d-79c15d54b53c.svg');
    background-repeat: no-repeat;
    background-position: bottom;
    width: 100vw;
    height: 100%;
    position: absolute;
}

/*HERO CONTENT*/
.hero-content {
    font-family: var(--font-family);
    margin-left: 10%;
    z-index: 1;
    margin-top: 12%;
}    

#particles-js {
  width: 150%;
  height: 730px;
  position: absolute;
  top: 0;
  left: 0;
}

.c1, .c2, .c3,.c4{
  display: inline-block;
}
.hero-content .type{
    font-size: 1.5rem;
    overflow: hidden;
    border-right: .15em solid var(--yellow-color);
    white-space: nowrap; 
    width: 0;
    animation: 
      typing 1s steps(25, end) forwards;
}
.hero-content .type2{
    font-size: 1.5rem; 
    overflow: hidden;
    border-right: .15em solid var(--yellow-color);
    white-space: nowrap; 
    width: 0;
    animation: 
      typing 1s steps(25, end) forwards;
    animation-delay: 1s;
}

.hero-content .type3{
  font-size: 3.5rem; 
  overflow: hidden;
  margin-top: 6%;
  border-right: .15em solid var(--yellow-color); 
  white-space: nowrap; 
  width: 0;
  animation: 
      typing 2s steps(30, end) forwards,
      blink .75s infinite;
  animation-delay: 2.5s;
}
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}
@keyframes blink {
  from { border-color: transparent }
  to { border-color: var(--blue-color); }
}


.hero::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 0;
}


/*****************************************************
********************A PROPOS DE NOUS 
*******************************************************/
.container-infos {
  padding-left: 150px; 
  padding-right: 150px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.container-infos h2{
  font-family: var(--font-family);
  text-align: center;
  margin-bottom: 20px;
  font-size: 40px;
  font-weight:700;
  margin-bottom: 20px;
  color: var(--black); 
}

.infos-image {
width: 100%;
height: 400px;
overflow: hidden;
border-radius: 20px;
}

.infos-image .vid {
width: 100%;
height: 100%;
object-fit: cover;
border-radius: 20px;
border-top-left-radius: 20px;
}

.infos-card {
position:relative;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
background-color: var(--white);
padding: 40px;
border-radius: 20px;
max-width: 800px;
box-shadow: 0px 15px 15px 0px var(--black);
}

.infos-card p {
transition: all 0.3s ease;
display: inline-block;
}

.infos-card p:hover {
transform: scale(1.05);
color: var(--blue-color);
text-shadow: 2px 2px 4px rgba(0,0,0,0.2);
}

.infos-card p:hover {
text-decoration: underline;
text-decoration-color: var(--yellow-color); 
}

.infos-card p strong:hover,
.infos-card p span:hover {
color: var(--black-color); 
transform: scale(4.1);
}


/****************************************************************** 
*********************EXPERIENCE D'APPRENTISSAGE 
*******************************************************************/
.container-experience{
  background-color: var(--black);
  padding-left: 150px; 
  padding-right: 150px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.container-experience h2{
  font-family: var(--font-family);
  text-align: center;
  margin: 10px;
  font-size: 40px;
  font-weight: bold;
  padding: 40px;
  color: var(--yellow-color);
  
}
.experience-content{
  display: flex;
  flex-direction: row;
}

.experience-content img{
  padding: 10px; 
  max-width: 40%;
  height: auto;
  margin: 0 auto 40px;
  border-radius: 20px;
  object-fit: cover;
}

.experience-content h3 {
  color: var(--white);
  padding: 0;
  line-height: 2.5;
}

.experience-content ul {
  list-style:none;
  padding: 5px 0 0 30px;
  color: var(--white); 
}

.experience-content li {
  margin-bottom: 15px;
  line-height: 2.3;
}



/**************************************************************** 
****************************FORMATIONS
*******************************************************************/
.container-formation{
  padding-left: 100px; 
  padding-right: 100px;
  padding-top: 20px;
  padding-bottom: 20px;
  height: 100vh;
  display: flex;
  gap: 70px;
  justify-content: center;
  margin-bottom: 30px;
}

.container-formation h2{
  font-family: var(--font-family);
  position: absolute;
  justify-content: center;
  text-align: center;
  margin: 10px;
  font-size: 40px;
  font-weight: 700;
  padding: 40px;
}

.card {
  margin-top: 120px;
  width: 400px;
  height: auto;
  border-radius: 20px;
  position: relative;
}

.image-box,
.content-box {
  width: 100%;
  height: 100%;
  transition: all 0.35s linear;
}

.image-box .img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius:20px;
  filter: grayscale(100%);
}

.content-box {
  position: absolute;
  top: 0;
  right: 0;
  background-color: var(--blue-color);
  border-radius: 20px;
  transform: translate3d(0, -150px, -220px) rotate3d(1, 0, 0, 90deg);
  transform-origin: center;
  opacity: 0;
}

.card:hover .content-box {
  transform: translate3d(0, 0, 0) rotate3d(0, 0, 0, 0);
  opacity: 1;
}
.card:hover .image-box {
  transform: translate3d(0, 150px, 220px) rotate3d(1, 0, 0, -90deg);
  opacity: 0;
}

.content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 18px;
}

.content h1 {
  font-size: 36px;
  color: var(--yellow-color);
  padding-bottom: 8px;
  border-bottom: 1px solid var(--white);
}

.content p {
  text-align: center;
  color: var(--white);
  font-size: 20px;
  font-family: var(--font-family2);
}

  
/************************************************************ 
***********************PROGRAMES
**********************************************************/
.about-programs {
  margin-top: 5%;
  position: relative;
  background-color: var(--black);
  color: var(--white);
  padding: 220px 20px;
}

.wave-top {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 60%;
  background-size: cover;
  background: url('imgs/topsvg.svg') no-repeat center top; /* Path to your wave SVG */
}

.about-programs .content {
  text-align: center;
}

.program-details {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}


.about-programs h2 {
  font-family: "ADLaM Display", system-ui;
  font-size: 36px;
  margin-bottom: 10px;
}

.about-programs p {
  font-family: "Inter", sans-serif;
  font-weight: 200;
  font-size: 14px;
  margin-bottom: 40px;
}

.top-items {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.program-item {
  padding: 20px;
  width: 220px;
  border: none;
  border-radius: 10px;
  text-align: center;
  transition: background-color 0.3s ease;
}

.icon-item {
  display: flex;               
  list-style: none;            
  font-size: 30px;
  margin-bottom: 10px;
  justify-content: flex-start;
}


.program-item h3 {
  display: flex;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  color: var(--yellow-color);
  justify-content: flex-start;
  font-size: 12px;
  margin-bottom: 10px;
}

.program-item p {
  display: flex;
  justify-content: flex-start;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 18px;
}

.under-items {
  display: flex; 
  justify-content: center; 
  gap: 30px; /
}


.wave-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 20%;
  background: url('imgs/buttomsvg.svg') no-repeat center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
}


/**************************************************************** 
*************************ACTIVITES SECTION
******************************************************************/
.activities-section {
  text-align: center;
  padding: 40px 20px;
  background-color: var(--white);
}

.section-title {
  font-family: "ADLaM Display", system-ui;
  font-size: 35px;
  color: var(--black);
  margin-bottom: 50px;
  font-weight: 700;
}

.activities-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 90px;
}

.activity-card {
  background-color: var(--white);
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.046);
  overflow: hidden;
  width: 220px;
  height: 298.88px;
  transition: transform 0.3s ease;
}

.activity-card:hover {
  transform: translateY(-5px);
}

.card-image {
  height: 130px;
  background-size: cover;
  background-position: center;
}

.card-content {
  padding: 15px;
}

.card-content h3 {
  display: flex;
  justify-content: flex-start;
  text-align: left;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 14px;
  color: var(--black);
  margin-bottom: 10px;
}

.card-content p {
  display: flex;
  justify-content: flex-start;
  text-align: left;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  color: var(--dark-gray);
  margin: 0;
}

.more-text {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 300;
  color: var(--dark-gray);
  margin-top: 40px;
}


/*************************************************************** 
***************************FOOTER 
************************************************************************/
footer {
  background-color: var(--black);
  color: var(--white);
  
}

.wave-footer{   
  background-image: url('imgs/foot-wave.svg');
  background-repeat: no-repeat;
  background-position: top;
  margin-top: -1%;
  width: 110vw;
  height: 100%;
  position: absolute;
}

.footer-container {
  margin: 0 auto;
  text-align: center;
}

.footer-top {
  padding-top: 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding-bottom: 20px;
  width: 100%; 
}


.logo {
  height: 70px;
  display: flex;
  padding-left: 76px;
  
}

.footer-menu {
  list-style: none;
  align-items: center;
  margin-left: -50%;
  font-family: var(--font-family);
  font-size: 16px;
  font-weight: 700;
  padding: 0;
  display: flex;
  gap: 25px;
}

.footer-menu li a {
  color: var(--white);
  text-decoration: none;
  font-size: 14px;
}

.footer-menu li a:hover {
  color: var(--yellow-color);
}


.social-icons {
  align-items: flex-end;
  position: absolute;
  display: flex;
  margin-left: 65%;
  margin-top: 14%;
  gap: 10px;
}

.card {
  width: fit-content;
  height: fit-content;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 25px 25px;
  gap: 20px;
}

.socialContainer {
  width: 52px;
  height: 52px;
  border-radius: 50%;
  background-color: rgb(44, 44, 44);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transition-duration: 1s;
}
/* instagram*/
.containerOne:hover {
  background-color: #d62976;
  transition-duration: 0.3s;
}
/* twitter*/
.containerTwo:hover {
  background-color: #00acee;
  transition-duration: 0.3s;
}
/* linkdin*/
.containerThree:hover {
  background-color: #0072b1;
  transition-duration: 0.3s;
}
/* youtube*/
.containerFour:hover {
  background-color: #8c1212;
  transition-duration: 0.3s;
}

.socialContainer:active {
  transform: scale(0.9);
  transition-duration: 0.3s;
}

.socialSvg {
  width: 17px;
}

.socialSvg path {
  fill: rgb(255, 255, 255);
}

.socialContainer:hover .socialSvg {
  animation: slide-in-top 0.3s both;
}

@keyframes slide-in-top {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.footer-middle {
  margin: 20px 0;
  font-size: 14px;
  text-align: left;
}

#middle-paraghraph{ 
  line-height: 21px;
  margin-left: 5%;
  font-weight: 300;
  font-family: var(--font-family2);
}

.footer-middle section {
  font-style: var(--font-family2);
  margin: 30px 0;
  margin-left: 5%;
  line-height: 20px;
}

.adress-left {
  font-style: var(--font-family2);
  font-weight: 100;
  font-size: 13px;
}

.adress-left span {
  font-size: 16px;
  font-weight: 600;
}

.addres-right {
  font-size: 13px;
  margin-left: 35%;
  margin-top: -3.4%;
}

.addres-right span {
  font-weight: 100;
  font-size: 16px;
  font-weight: 600;
}

.contact-button {
  background-color: var(--yellow-color);
  color: var(--white); /* Default text color */
  padding: 10px 90px;
  text-decoration: none;
  border-radius: 13px;
  font-weight: 700;
  margin-left: 5%;
  font-family: var(--font-family2);
  border: none;

}
.contact-button:hover {
  color: var(--blue-color); 
  transform: scale(1.05);
  background-color: var(--yellow-color);
}


.footer-bottom {
  margin: 20px 0;
}

iframe {
  display: flex;
  justify-content: flex-start;
  border-radius: 10px;
  width: 72%;
  height: 336px;
  margin-left: 5%;
  margin-top: -2%;
}

.footer-pic {
  width: 15%;
  margin-bottom: -28%; 
  margin-left: 70%; 
}

.footer-copyright {
  background-color: var(--yellow-color);
  text-align: center;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  color: var(--white);
  padding: 20px 0;
  font-size: 14px;
}

/*************************************************
****************RESPONSIVE DESIGN
****************************************************/

/*navbar*/
@media (max-width: 768px) {
  header {
    flex-direction: column;
    padding: 10px;
  }

  .logo-solicode{
    max-height: 60px;
    text-align: center;
  }


  #Subscription-btn {
    width: 28%;
    text-align: center;
    margin-top: 20px;
  }
}

/*header*/
@media (max-width: 768px) {
  .hero {
    height: 400px; /* Adjust height for smaller screens */
  }

  .hero-content {
    margin-left: 10%;
    margin-top: 10%;
    text-align: center;
  }

  .hero-content .type, .hero-content .type2 {
    font-size: 1.2rem; /* Adjust font size for smaller screens */
    width: 100%;
  }

  .hero-content .type3 {
    font-size: 2rem;
    margin-top: 5%;
  }
}

/*a propos de nous*/
@media (max-width: 768px) {
  .container-infos {
    padding-left: 20px;
    padding-right: 20px;
  }

  .container-infos h2 {
    font-size: 30px; 
  }
  
  .infos-image {
    height: 300px; 
  }

  .infos-card {
    padding: 20px;
    max-width: 100%;
    box-shadow: none;
  }
}

/*experince*/
@media (max-width: 768px) {
  .container-experience {
    padding-left: 20px;
    padding-right: 20px;
  }

  .experience-content {
    flex-direction: column;
    gap: 20px;
  }

  .experience-content img {
    max-width: 80%;
  }
}

/*filieres*/
@media (max-width: 768px) {
  .container-formation {
    flex-direction: column;
    padding-left: 20px;
    padding-right: 20px;
  }

  .card {
    width: 100%;
    margin-top: 20px;
  }

  .image-box,
  .content-box {
    height: auto; 
  }
}

/*about programs*/
@media (max-width: 768px) {
  .program-details {
    flex-direction: row;
  }

  .program-item {
    width: 100%;
    margin-bottom: 20px;
  }
}

/*activites*/
@media (max-width: 768px) {
  .activities-container {
    flex-direction: column;
    gap: 20px;
  }

  .activity-card {
    width: 100%;
    margin-bottom: 20px;
  }
}

/*footer*/
@media (max-width: 768px) {
  .footer-top {
    flex-direction: column;
    align-items: center;
  }

  .footer-menu {
    margin-left: 0;
    gap: 15px;
  }

  .social-icons {
    margin-left: 0;
    margin-top: 20px;
  }

  .socialContainer {
    width: 45px;
    height: 45px;
  }
}